.basket {
    height: 80vh;
    border: 2px solid black;
}

.main-container {
    width: 100%;
}

.delete-icon {
    text-align: right;
}

.add-button {
    display: inline-block;
    margin: 5px;
}

.main-container .share-button {
    margin: 10px;
}

.modal-share-button {
    margin-right: 50px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    border: 2px solid black;
    border-radius: 25px;
    width: 50%;
    height: 20%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

  .share-email {
      width: 80%;
      margin: 30px;
      margin-bottom: 10px;
  }

  .close-button {
    position: absolute;
    top: 0px;
    right: 10px;
    color: black;
  }